[2019-09-17 19:42] NoobBaez opened #3 "Not shown in release mode"
As the title says, I don't get the effect at release mode, but during debug mode, it works ok.
My code is pretty much the same as the example, in my case a use provider to use the ConfettiControlle deep in the widget tree. It goes like this.

**main.dart**
[code]

**video.dart**
[code]
Beforehand, thanks for your time.

[2019-09-18 04:43] funwithflutter commented on #3
I did a quick test and on my side the package is working in release mode. I don't believe that is the issue.

Other things that might be happening are:
- Some Assert logic in your code base that only triggers on debug builds that results in the confetti_controller not playing
- The confetti_controller gets disposed before use (if that is the case there should be error logs)

 Could you please shar

[2019-09-18 16:48] NoobBaez commented on #3
I was doing some manual test at release mode, I found out that the controller is playing, particle appears and then almost immediately disappear at the top center. I do not get any error logs.

[code]

[2019-09-19 03:20] funwithflutter commented on #3
Perfect! If you figure it out drop a message. I'm closing this issue for now.

[2019-09-19 03:24] NoobBaez commented on #3
Yes, it is solved. Thanks.

[2019-10-10 19:15] CedYF opened #4 "Overlaying the conefetti over other items"
Hey,

Love the plugin. But I'm trying to overlay the confetti over items. Instead it always appear behind elements in stack or scaffold.

Anyway to move the confetti to the front layer?

[2019-10-11 09:14] funwithflutter commented on #4
Hey. Thanks for bringing this up. I added an optional child widget to the ConfettiWidget that you can pass in. I also changed the way that the painting is happening so that it paints to the foreground above its child widget. So you an either wrap everything under the ConfettiWidget(child: YourApp), or alternatively you can use a Stack, and then add ConfettiWidget as the last child in the stack to

[2019-10-11 09:14] #4 closed

[2019-10-14 15:49] jimmyff opened #5 "Displaying it over a dialog"
This is lovely! Is there any way to get the confetti displaying over a dialog?

[2019-10-21 10:40] aimsugita opened #6 "Does it put out of screen?"
I can't put it out of screen.
I don't want to show the the particle emitter.

[code]
or
[code]

[2019-10-30 03:35] aimsugita opened #7 "How can I define colors?"
It has many colors.
I'd like to define colors of confetti.

[2019-10-30 06:06] funwithflutter commented on #5
Sorry for the late reply. I believe this should be possible. Take a look at Flutter overlays - https://api.flutter.dev/flutter/widgets/Overlay-class.html

If I have time in the future I might update the package to include overlays by default. But for now, it might be possible to create your own overlay.

[2019-10-30 06:10] funwithflutter commented on #7
I've been meaning to add this feature, thanks for bringing it up. I'll post here once the new version supports this.

[2019-10-30 06:59] funwithflutter commented on #7
Okay. It is now possible to add a list of Colors to the `ConfettiWidget`. For example,

`
ConfettiWidget( confettiController: _controller, colors: [Colors.green, Colors.blue, Colors.pink],),
`

Enjoy.

[2019-10-30 06:59] #7 closed

[2019-10-30 10:55] aimsugita commented on #6
@funwithflutter
Thank you for replying.

No, I don't mean that.
I mean I want to put confetti nozzle in the out of screen.
Because of, I'd like to hide confetti crowding moment.

[2019-10-30 11:43] funwithflutter commented on #6
Yes, you can do that. The widget is the same as any widget in Flutter, you just need to put the center point off screen. Maybe wrap it in a `transform.translate` and give it an Offset to be off-screen.

https://api.flutter.dev/flutter/widgets/Transform/Transform.translate.html

[2019-10-31 06:07] aimsugita commented on #6
@funwithflutter Thank you for replying.
I could moved

[2019-10-31 06:08] aimsugita opened #8 "Changing confetti size option"
Hello.
I want the option for changing the size of confetti.

[2019-10-31 06:10] aimsugita opened #9 "Falling speed option"
Hello.
I want the option for changing falling speed of confetti.

[2019-10-31 06:25] aimsugita opened #10 "spawning confetti time option"
It is best confetti tool. so, Please forgive me for requesting a lot.
I think even `numberOfParticles` are little many.
I want the option about spawning confetti time.

[2019-11-15 08:20] #6 closed

[2019-11-15 08:21] funwithflutter commented on #8
Hi, good idea! I will add this in a future update.

[2019-11-16 03:35] funwithflutter commented on #8
This feature has been added. Please give it a test and let me know. You will see an optional `minimumSize` and `maximumSize` property that can be set on the `ConfettiWidget` to control the size of the confetti.

[2019-11-16 03:35] #8 closed

[2019-11-23 03:29] shinriyo opened #12 "put pubspec file in the example"
there are no `pubspec.yml` in the example folder

I gusess someone can't test easily.

[code]

and,  put below in dependencies section
[code]
and move `example/main.dart` to `example/lib/main.dart`

It is good.

[2019-11-28 20:34] nadavfima commented on #12
@shinriyo I was wondering how I could test the changes I made... thanks!

[2019-12-11 02:35] richardrobinson0924 opened #17 "blastDirection has no effect"
Regardless of the value of `blastDirection` (be it 0, pi / 2, pi, -pi / 2), it only ever acts as if `blastDirection == 0` (ie it shoots to the right). Why is this? My code (using confetti v0.3.0)

[code]

[2019-12-11 02:48] richardrobinson0924 commented on #17
Oddly, after closing and re-opening Android Studio and performing a fresh build fixed the issue.

[2019-12-11 02:48] #17 closed

[2020-02-24 12:59] ueman opened #18 "Custom particles"
It would be nice if one could specify a custom widget which should be painted as confetti.

[2020-03-31 12:37] thisdarktao opened #19 "Indicate a positive Duration is required"
It would be great if the `ConfettiController` threw an assertion error if `Duration` is not positive. I incorrectly assumed the duration would limit the number of particle bursts, but using `0` throws:

[code]

I'm happy to make a PR if you're busy?

[2020-03-31 15:44] funwithflutter commented on #19
A pull request will be appreciated! I'll make time tomorrow to review this and the other open issues on this project.

[2020-04-01 10:42] #9 closed

[2020-04-01 10:43] #12 closed

[2020-04-03 11:41] #19 closed

[2020-04-10 09:35] shinriyo commented on #18
I agree with you

[2020-04-10 09:52] funwithflutter commented on #18
The confetti are being painted in a CustomPainter, so no widgets are being painted. The package draws rectangles in the CustomPainter's paint method and updates the rectangles positions each frame.
Could maybe add an option to add a custom path or rectangle.

[2020-04-20 11:13] alimhaq opened #21 "Sporadic confetti even though random hasn't been chosen"
We're noticing in our dev builds using the Confetti package that the number of confetti as well as the number of times it bursts is sporadic. Sometimes it bursts fine with confetti, other times it jitters when it bursts, and sometimes there isn't any confetti at all. Here's how we're using the confetti:

[code]

[2020-04-20 13:09] funwithflutter commented on #21
This might be more of a documentation issue, than the package. I should be clearer about the use of the different properties.

You want to take a look a the `emissionFrequence` - which determines the likelihood of the confetti emitting. You have it set to 0.05, meaning 5% chance of emitting on a single frame.

For each animation frame the confetti has a likelihood of emitting - maybe it will maybe

[2020-04-22 05:06] alimhaq commented on #21
Hi @funwithflutter, thank you for your informative response. I had a feeling this may have been the case, since I didn't see anyone else mentioning this issue and it would be a pretty big problem if it was occurring on a wider scale. I'll implement the changes you suggested to see if I can get it to consistently confetti, and reply on here once it's confirmed so you can close the ticket. Thanks!

[2020-04-28 12:37] alimhaq commented on #21
Hi @funwithflutter, we were able to get a pretty nice and constant stream setting `emissionFrequency` to 0.5 and `numberOfParticles` to 2 :) Appreciate your help!

[2020-04-28 13:07] alimhaq commented on #21
Actually, sorry–wanted to reopen this really quick to ask about one thing. We're noticing that when the confetti is triggered, it tends to "explode twice", is there a reason for this or a way to set it? We would ideally have it only explode once. The strange thing is sometimes it does explode once but often it does like a single short spurt and then explodes again. Let me know if you need any more

[2020-04-28 18:53] funwithflutter commented on #21
I would need to investigate this. It might just be chance or there might be a logic flaw. I'll be revisiting this package soon, to see what improvements I can make, then I'll see if I can replicate this behavior.

[2020-04-30 03:12] alimhaq commented on #21
That would be great, thank you! The package is an awesome one and I really appreciate you putting it out there for the world to use :)

[2020-04-30 04:57] funwithflutter commented on #21
New version is release, I didn't do a lot of investigation regarding your issue. I believe it is just the way the package is implemented. It's all based on change, sometimes it shoots, sometimes not. But in the future when I do an overhaul I will add some features to ensure it definitely emits on the first frame (so stay on the look out for that).

BUT, I made some huge performance improvements to

[2020-05-12 07:28] alexandereverett92 opened #23 "Support orientation changes"
Currently if you start the confetti in portrait and switch to landscape the right side of the screen is cut off and gets no confetti.

The size calculation is only done on init, should be possible to re-run this on orientation change, possibly using the OrientationBuilder
https://api.flutter.dev/flutter/widgets/OrientationBuilder-class.html

[2020-05-17 05:13] funwithflutter commented on #23
Thanks for noticing this. The package is now updated. I didn't use OrientationBuilder. Instead updated the package in such a way that it will update on any layout change. For example, on web or desktop if you resize the window then the screen restrictions and confetti positions are updated.

Please let me know if this has resolved your issue and then I will close the issue.

[2020-05-17 07:33] funwithflutter commented on #21
The package now emits on the first frame, regardless of other configurations. So this should have a better overall look to how the confetti widget behaves. Closing this issue for now.

[2020-05-17 07:33] #21 closed

[2020-05-22 17:32] jshepin opened #24 "manual colors dont seem to do anything"
Hi, when specifying specific colors for the confetti used in the demo code, the confetti doesn't actually only be those colors, it mixes in all the other colors. Thanks - Joseph

[2020-05-22 17:37] #24 closed

[2020-05-27 09:14] funwithflutter commented on #23
Closing the issue.

[2020-05-27 09:14] #23 closed

[2020-05-27 09:15] funwithflutter commented on #10
Closing do to inactivity.

[2020-05-27 09:15] #10 closed

[2020-06-06 08:46] EArminjon commented on #18
could be great  :)

[2020-07-15 08:58] agent3bood opened #25 "Add a way to set canvas size"
I wanted to show the confetti to a part of the screen.
A small PR is provide.

[2020-07-17 09:46] EArminjon opened #27 "[Can be reproduiced] Lib didn't work inside PageView"
Hi,

Your confetti library didn't work inside PageView().

Here is the sample code to test :

[code]

With PageView() :

![Screenshot_1594979118](https://user-images.githubusercontent.com/37028599/87773228-23e76800-c823-11ea-9bd7-e6938bd453b8.png)

Without PageView() :

![Screenshot_1594979145](https://user-images.githubusercontent.com/37028599/87773247-2a75df80-c823-11ea-9277-ad85848abec6.png)

[2020-07-17 09:50] EArminjon commented on #27
Warning, if you hot reload your app after edit widget size around ConfettiWidget, it could work by "magic". Their is a bug so...

[2020-07-19 09:06] AndroidNils commented on #27
![ConfettiBug](https://user-images.githubusercontent.com/24459435/87871306-92f1c780-c9af-11ea-947a-397ebcc74ad5.gif)

Same issue! 😿

<details>
<summary>My Code</summary>

[code]
</details>

[2020-07-23 09:51] EArminjon commented on #27
Up :'(

[2020-07-24 16:30] EArminjon opened #28 "Export also confetti_controller_state.dart"
I think you forgot to export the source : confetti_controller_state.dart in confetti.dart
[code]
I need to import

[code]
I got a warning :
[code]
So we cannot use with a clean manner "ConfettiController.state"

[2020-07-24 16:32] EArminjon commented on #27
@AndroidNils I found a trix to work :
 Add
[code]

And before your ConfettiWidget() :
Do this :
[code]
Or this :
[code]

[2020-07-26 03:52] funwithflutter commented on #25
Closed with #26

[2020-07-26 03:52] #25 closed

[2020-07-26 05:06] funwithflutter commented on #27
Thanks for pointing this out. I'll investigate.

It seems to be an issue when the Page is built as you swipe in. If you set the first page to be the page where the confetti is then it's fine. So something with the underlying logic where it uses the screen size and how it disposes of the confetti.

This should work for now, as the confetti will only be built when the page is already visible.

[2020-07-26 06:15] funwithflutter commented on #27
The problem should be solved with 870436d935cf00663bfb5f5d4b27a444baa73d75

What happened was that the location where the particles emit from was set on the first build of ConfettiWidget. This resulted in the start position being incorrect when you transition to a new page (when you swipe in) - as the ConfettiWidget would be at an entirely different location than where the animation would start fr

[2020-07-26 06:15] #27 closed

[2020-08-12 16:53] kwellman opened #29 "Exception thrown when starting controller in initState (version 0.5.4)"
Hello,

In version 0.5.3 there were no problems when starting the confetti controller in initState. In version 0.5.4, I get the following exception:

(Note: it works fine when I wrap my _confettiController.play() call within the WidgetsBinding.instance.addPostFrameCallback method... I've pasted my code below)

[code]

Here's my test code:

[code]

[2020-08-14 03:34] funwithflutter commented on #29
Thanks for the issue. Before v0.5.4 WidgetsBinding.instance.addPostFrameCallback was used to initialise the position of the widget. The latest change initialises the position on play, instead of initState, to fix an error with PageViews initialising the confetti at a wrong location when a new page is swiped in.

I can wrap the play call in WidgetsBinding.instance.addPostFrameCallback to resolve th

[2020-08-14 04:04] funwithflutter commented on #29
Fixed in v0.5.4+1 commit bfbc663b588cfc2c2ea24b5b4a56bcb1b6555c53

[2020-08-14 04:05] #29 closed

[2020-08-25 17:26] RobinLbt opened #30 "Cannot listen to the controller state (e;.g. if animation finished)"
It would be very nice to be able to listen to the state of a Confetti controller.
For example in one of my apps I create confetti controller on the fly and there is no way to remove them when the animation is done like you can do with AnimationController when you listen to the statut of the animation.

[2020-09-19 13:44] WieFel commented on #30
Same problem here!
[code]
The added listener doesn't seem to get called at all.

[2020-09-20 22:04] alectogeek opened #31 "Confetti shape customisation"
It would be cool to have the ability to change confetti shape or set borderRadius param to achieve smth like:
![изображение](https://user-images.githubusercontent.com/18165303/93723323-58223080-fba6-11ea-8ce4-8690d9d2ba1c.png)

[2020-09-21 10:10] WieFel commented on #30
I have the same problem. The listener is only called when animation starts.
Also, it is not possible to access `ConfettiControllerState` in order to compare the current state of the controller with some value.

[2020-09-21 10:34] WieFel commented on #30
Something seems to be wrong with the controller state and/or the listener handling.
If I use the example code https://github.com/funwithflutter/flutter_confetti/blob/master/example/lib/main.dart and add a listener to the top center controller like so:
[code]
When tapping the top center button I get the following output:
[code]
Which is really strange because I would expect to get `playing` state w

[2020-10-08 17:11] funwithflutter commented on #31
This is something that can be done!

[2020-10-12 12:20] HofmannZ opened #33 "Single burst"
It would be nice to have the ability to shoot just one burst of particles upon calling `.play`. Alternatively, this could be introduced under a new method in the controller called `.playSingle` or `.playOnce`.

[2020-11-01 14:42] #28 closed

[2020-11-09 13:34] olof-dev commented on #33
I agree that this would be nice. For now, you can set `emissionFrequency: 0`, which with the current code ensures a single burst (at least as far as I can tell by inspecting the code base).

[2020-11-14 04:42] DeepStyles commented on #18
can i draw image or text replacing tht rectangle in painter???

[2020-11-14 11:25] DeepStyles opened #34 "windows support"
Hi, when can we expect windows support? Also can we replace rectangle in painter with some text or image???

[2020-11-15 10:35] DeepStyles commented on #34
k, so after a day I tried to add some customs (integer shapes)paths to particle file using Shape Maker for flutter, I got this:

![Hnet com-image](https://user-images.githubusercontent.com/737666/99182682-5f0b9080-275c-11eb-96a6-7f199a8d5631.gif)

[2020-11-16 17:38] DeepStyles commented on #34
the original issue, On windows couldnt run is solved, I don't have any issue for now...(closing this now)

[2020-11-16 17:38] #34 closed

[2020-11-30 13:09] amigax opened #35 "Can't get it to play first time"
For me it only plays if I do a hot reload, it does not play when I visit the screen in my app for first time - Im not sure why this is, any ideas?

[2020-11-30 13:19] amigax commented on #35
actually looks like it was due to being in a Future.delayed, not sure why that impacts it but no big deal really

[2020-12-03 01:20] britannio commented on #5
[code]

[2020-12-05 16:26] idootop opened #36 "This widget has been unmounted, so the State no longer has a context (and should be considered defunct)."
![图片](https://user-images.githubusercontent.com/35302658/101252966-45f17080-3759-11eb-8256-ec9d0f3f604f.png)
This widget has been unmounted, so the State no longer has a context (and should be considered defunct).

The last version without this problem is 0.53.
In 0.54+1, this problem is still there, env: flutter 1.24.0 (web)

[2020-12-22 09:47] zhoulijun12315 opened #37 "snow effect"
I want to achieve the effect of falling snow, but I can't customize the particle.

[2021-01-04 21:43] #30 closed

[2021-01-04 22:06] funwithflutter commented on #36
Sorry can you expand on this issue. Could you give example code of when this causes an issue.

[2021-01-04 22:08] funwithflutter commented on #35
Okay can I go ahead and close this issue ? :)

[2021-01-04 22:12] funwithflutter commented on #33
What @olof-dev says is correct. It will always play on the first frame, regardless of the `emissionFrequence`. And from there it should last for whatever time the duration is set to, with respect to the frequency. Play single or something similar is a good idea, and I'll add it in the future.

[2021-01-04 23:02] amigax commented on #35
yes thanks ;)

[2021-01-05 02:25] idootop commented on #36
Just the example code in this package, but run in flutter for web env.
With version 0.53, there's no problem.

[2021-01-07 09:52] pro100svitlo commented on #3
I am facing mostly the same problem: works fine on debug, mostly not showing on release.
On debug it works just as expected. But with the release build, it shows only one blinking confetti in the shooting point.

checked this. looks like not my case.
here some part of  my code:
[code]

[2021-01-08 17:47] #35 closed

[2021-01-11 06:30] pro100svitlo commented on #3
@funwithflutter can you please give me any hint/help with my problem?

[2021-01-11 11:39] pro100svitlo commented on #3
some extra details:
- works fine on android emultator
- work with bug described above on android real device

[2021-01-20 17:50] funwithflutter commented on #3
@pro100svitlo I've run into times when release mode won't show something while in debug it does show (not related to this package). And normally for me it happens because of a Stack issue. Make sure that the widgets in your stack are defining a size. For example, wrap the widget in Positioned.fill to ensure it takes up all the available space.

You can also try to simplify what you are doing and s

[2021-02-23 07:47] IchordeDionysos opened #40 "Support null safety"
This is a request to add support for [null safety](https://dart.dev/null-safety) to `package:confetti`.
We depend on your awesome package, so would be great to have null safety enabled.

The Dart/Flutter team already encourages publishing the migrated packages: See [this blog post](https://medium.com/dartlang/preparing-the-dart-and-flutter-ecosystem-for-null-safety-e550ce72c010).

See the [migrati

[2021-02-23 07:48] IchordeDionysos commented on #40
Blocked by knezzz/RandomColor#11

[2021-02-27 15:19] IchordeDionysos commented on #40
@funwithflutter Migration should be unblocked now :)

`random_color` recently added support for null safety ☺️

[2021-03-01 16:24] mgav commented on #37
Not perfect, but you could set a very small maximumSize and limit color to only white

[2021-03-03 19:30] IchordeDionysos commented on #40
The new Dart version was just released 😍
https://medium.com/dartlang/announcing-dart-2-12-499a6e689c87

[2021-03-03 20:30] NarHakobyan commented on #40
@IchordeDionysos you are so fast 😄

[2021-03-06 17:51] funwithflutter commented on #37
There is now an optional `createParticlePath` argument that takes a function where you can return a custom `Path`. The example is updated. You should be able to create a snow path 👍

Closed in #39

[2021-03-06 17:51] #37 closed

[2021-03-06 17:53] funwithflutter commented on #18
There is now an optional `createParticlePath` argument where you can specify your own path to create any shape you want :)

Closed in #39

[2021-03-06 17:53] #18 closed

[2021-03-06 21:43] #40 closed

[2021-03-29 23:29] IchordeDionysos commented on #40
@funwithflutter any plans to release a stable version with null-safety? ☺️
It's been almost a month now since the null-safe pre-release version

[2021-03-30 15:40] ScottishRoss commented on #40
I have issues with null-safety with these dependencies:
 - package:confetti
 - package:random_color
Any ideas on how I can get past that?

[2021-03-30 19:00] NarHakobyan commented on #40
@ScottishRoss use following versions.
[code]

[2021-04-12 16:52] ateich commented on #3
I'm having a similar issue that only happens when I run a release build on my iPhone. When I open the ConfettiView within `showModalBottomSheet`, the confetti flashes in the center of the modal instead of expanding outward.

Confetti animates correctly (on device in release build) when
- I press the button in the modal that triggers `_controller.play()`
- the ConfettiView is not in a `showModalBot

[2021-04-14 21:03] IchordeDionysos commented on #40
@funwithflutter the pre-release version is now published for more than a month.

Do you feel confident now to publish a stable version yet?

[2021-04-15 21:23] funwithflutter commented on #3
@ateich I have an idea of what the issue could be. I'll take a look at this next week.

[2021-04-24 20:39] pMertDogan commented on #27
Hi,

Is this issue is fixed on the null safety version?

https://1drv.ms/u/s!An33J1c1rPZhhpoUA23KKQwfQr-86A?e=7fYiJj

`Column(
      children: [
        Text(
          "763",
          style: TextStyle(fontSize: 76, fontWeight: FontWeight.bold),
        ),
        Lottie.asset(
          "assets/lottie/9757-welcome.json",
          fit: BoxFit.fill, // width: 200, height: 200
          // repeat:

[2021-05-06 18:06] kalebhermes commented on #3
Any chance you had the time to dig into this issue @funwithflutter?

[2021-05-12 22:12] derekedelaney commented on #5
I was looking for something like this too. I wrote a function that would achieve this that is similar to `showDialog`. I call it `showConfettiDialog`.

https://gist.github.com/derekedelaney/0bd36b370daceaf56712a22bd097cdc8

[2021-05-13 13:32] irakalaputenko commented on #3
@funwithflutter what about this issue? No changes?

[2021-06-05 17:25] yasinarik opened #46 "[Feature Request] Allow setting a png as a custom particle"
I know this might be hard but instead of providing a custom path, can't we just use a png asset as a particle? Creating a custom path, even a heart shape is difficult by coding. So, I really wished that we can use an SVG instead.

Other than that, this package is great. I am **really thankful** to you for bringing that up.

### Note:
By the way, there is a tool made by **RetroPortal Studio**. Here

[2021-06-14 09:22] deep-gaurav commented on #3
@funwithflutter  I think issue was with `RepaintBoundary` in https://github.com/funwithflutter/flutter_confetti/blob/f3fcfb502adeb790395b58eed403ddf6df2fbbe5/lib/src/confetti.dart#L285-L295

I made a fork and removed it https://github.com/deep-gaurav/flutter_confetti . Seems to have fixed it, not sure why though.

[2021-06-19 14:50] aseemahuja opened #47 "Confetti not appearing in Version ^0.6.0-nullsafety"
Hi, I implemented Confetti before NullSafety and it was working fine. But when I upgraded it to NullSafety version, it stopped working. No error coming.

[2021-07-06 16:18] funwithflutter commented on #47
Can you give me a bit more info please? Post some code that breaks it?

[2021-07-31 00:40] MetaBoy8 opened #49 "The library 'package:confetti/confetti.dart' is legacy, and should not be imported into a null safe library."
Error: Cannot run with sound null safety, because the following dependencies
don't support null safety:

- package:confetti

- package:random_color

For solutions, see https://dart.dev/go/unsound-null-safety

[2021-07-31 02:06] WinterSpringTiger commented on #49
![image](https://user-images.githubusercontent.com/86504841/127725496-b7f52c46-d6e8-469e-9088-ea55dd36efd4.png)

I have ran flutter pub add confetti and imported confetti.dart.
But I get the above issue.
Please help me.

[2021-08-29 21:41] Abacaxi-Nelson commented on #47
+1 just copy/paster example

[2021-09-02 20:25] devj3ns commented on #49
Hey, when you have null safety enabled in your project (which is recommended) you also have to use the null safe version of the packages your project depends on.

Thus, import them like this (in your pubspec.yaml file):

[code]

[2021-09-08 09:31] penguru opened #50 "Performance is low on Android"
In many Android phones I tested, animation is quite slow

[2021-09-18 12:27] #36 closed

[2021-09-18 17:10] digitalkaoz opened #53 "release 0.6.1"
there happend a lot since 0.6, do you mind releasing a new version?

[2021-10-02 16:40] sarpde opened #54 "Emitter Position"
I wrap my elements with ConfettiWidget which is clean and convenient but I couldn't figure out a way to change emitter position. It is always on topLeft. What I'd like to do is emit particles from top or center of my element (stars in this example)
<img width="143" alt="Screen Shot 2021-10-02 at 19 39 40" src="https://user-images.githubusercontent.com/4488521/135725209-0d83fa2e-3ce1-409e-b7fc-e08d

[2021-10-27 14:17] Junama opened #55 "Doesn't work in iOS"

[2021-11-02 06:24] iamdipanshusingh opened #56 "Confetti not firing up particles on iOS"
This works perfectly fine for android, but for iOS... it just happens like shown below

https://user-images.githubusercontent.com/38358260/139790673-caaddba2-098a-4334-9967-7397617be20e.mov

<details>
  <summary>confetti.dart</summary>

[code]
</details>

[2021-11-02 07:59] iamdipanshusingh commented on #56
got it fixed using [this workaround](https://github.com/funwithflutter/flutter_confetti/issues/27#issuecomment-663624883)
but plz look into this once @funwithflutter

[2021-11-03 06:17] Abhishek-165 opened #57 "Unable to import the package"

[2021-11-04 12:55] rawquesh opened #58 "blast a emoji"
thank you for the great package btw, I would like to know is there any way to blast an emoji or an emoji in SVG form, it would be great if you have any solution about this.

[2021-11-17 21:43] Aristidios commented on #56
I can confirm package not working on iOS

[2021-11-22 11:44] Aristidios opened #59 "Confetti package animation not displaying correctly upon scroll"
I'm using [Package Confetti 0.6.0][1] `ConfettiWidget()` within `Card()`s generated in a `GridView.builder`

Upon scroll the animation stops working properly & even vanishes if I scroll too much.

[![SliverGrid with Confetti Animation][4]][4]

I thought the issue had to do with *lazy loading*, so I tried two other particle animation widgets:

 1. [Particles 0.1.4][2] and
 2. [Animated Background 2

[2021-11-30 21:43] HSVDO commented on #27
I've got the same issue with version 0.6.0 (confetti stuck at a single position) within a TabBarView. The animation plays successfully on the first page initially but in every other tab it gets stuck (even if going back to the first page). It seems that the duration property isn't working as well in this case, so the confetti never stops.

[2021-12-08 20:14] erf commented on #58
You can use the `path_drawing` package to transform `svg` to `path`.

[2021-12-08 20:17] erf commented on #58
You can also use [this web app](https://danmarshall.github.io/google-font-to-svg-path) to turn text into svg, but advanced symbols or emojis are not supported.

[2021-12-08 20:24] erf opened #60 "Feature request: Add spread option"
A spread option would be nice. E.g. [0, 1], where 0 is no spread, that is particles are shot in a line, where 1 is 360 deg spread, you still should be able to randomize the spread, so perhaps a randomize option could also be added, e.g.  [0, 1] where 0 is no random, that is always in a line and 1 is full random, e.g. 360 deg spread even when spread is 0. Or you could add a spread range e.g. [0.2,

[2021-12-08 20:42] erf commented on #46
Feel free to have a look at my package [flim](https://github.com/erf/flim) on how to render lots of images atlases. I've used the API `canvas.drawAtlas` to render lots of sprites effectively.

[2021-12-09 20:45] yasinarik commented on #46
Hey thanks for informing us! Of course, I will check it out but would you mind adding an example (not the code, just a video or an image) on your repo?

That way it would also become easier for people to understand what Flim does at first sight.

[2021-12-09 21:05] erf commented on #46
@yasinarik i could perhaps add a gif of some sprite animations, but you can easily run the example to see things in action

[2021-12-24 01:43] Bhat015 commented on #59
Any update on this?
Facing similar issue.

[2022-01-02 09:31] funwithflutter commented on #57
Hey @Abhishek-165, could you provide more info, please? Not able to reproduce this.

[2022-01-02 09:32] funwithflutter commented on #50
Hey @penguru, at least for the time being it may be slow on older devices. I have some ideas to improve the performance in the future.

[2022-01-02 09:49] funwithflutter commented on #53
Hi @digitalkaoz none of those had an impact on the core package code. But a new version will be released soon after fixing some bugs.

[2022-01-02 10:36] funwithflutter commented on #27
Hi @HSVDO can you provide sample code that isn't working?

Please note that the confetti controller will dispose of its animation controllers and set its state to stop when the ConfettiWidget is disposed by Flutter. If you want to ensure it "stays alive" between page swipes you can look into AutomaticKeepAliveClientMixin. I've modified the example above to continue the animation on page swipes:

[

[2022-01-02 10:52] funwithflutter commented on #56
Hi @iamdipanshusingh this is fixed in the latest version at least on an emulator. Please re-open if you still experience this issue.

[2022-01-02 10:52] #56 closed

[2022-01-02 11:12] funwithflutter commented on #58
@erf `path_drawing` is really nice! Thanks for pointing that out. I played around with it and here is an example if you want to have customizable sizes. This paints a sword, from here (https://yqnn.github.io/svg-path-editor/).

[code]

[2022-01-02 11:14] funwithflutter commented on #55
Part of #56, should be resolved now.

[2022-01-02 11:14] #55 closed

[2022-01-02 11:15] funwithflutter commented on #49
Closing this as there is a null-safe version now.

[2022-01-02 11:15] #49 closed

[2022-02-04 15:21] HSVDO commented on #27
Ah sorry, i didn't see the notification about your comment.
Example screenshot:
The red box shows a sized container with red background just to show where i expect the confetti widget to take place. But somehow it gets rendered outside the container:
![grafik](https://user-images.githubusercontent.com/27351558/152552795-25de235b-5107-43ba-9acf-58adc1515c0f.png)

A quick sample page with TabBarView

[2022-02-23 09:56] Petri-Oosthuizen commented on #54
The alignment widget works quite well to position the emitter position.
[code]

[2022-03-16 19:09] eEQK commented on #60
as a temporary workaround, you could use many `ConfettiWidget`s with a single controller (so they all fire at the same time) and slightly change `blastDirection` for each of the widgets

I wanted to get a blast from bottom center that will cover more or less the whole page, so I created 3 widgets with these directions:
* -pi / 2 + 0.15
* -pi / 2
* -pi / 2 - 0.15

[2022-04-02 17:16] roubachof commented on #59
Same for me..

[2022-04-04 08:44] benjamincombes commented on #3
I had the same issue too: when working on the single screen using the lib, it worked like a charm. But when testing it in a real-world app, I add all confetti in the same place. I think I might have a clue, however: I use auto_route in my app, and I think it is what causes the problem.

I did find a workaround as if I display my confetti screen:
- like all other screens of my app using auto_route'

[2022-04-29 18:05] the100rabh opened #62 "Exception in Android builds"
I was trying this awesome widget. It works fine in chrome for me but errors out in Android builds. Following is the error I see and everything in the screen goes black. Not sure if this is enough for you to debug the issue.

[code]

[2022-05-03 10:33] VimeshPolaris opened #63 "displayTarget"
Hii Their,
When I'm trying to use the following property ,
displayTarget: true,

The one widget was were showing that i can't remove.
Please help me out this:

![Screenshot 2022-05-03 at 3 59 08 PM](https://user-images.githubusercontent.com/95465974/166438929-11ef2c28-6f52-41c2-9d03-61b4014b039d.png)

How  can i remove that center widget ?

I want to use display target property but i can't use it.

[2022-05-11 23:30] armandojimenez commented on #62
Any update on this?

[2022-05-13 02:51] funwithflutter commented on #63
Seems like there is confusion with what the displayTarget is. When set to true it will show that centre widget to indicate the centre of the the ConfettiWidget canvas. Set it to false to not show.

[2022-05-13 02:53] funwithflutter commented on #62
Flutter 3.0 made this non-nullable. So this is just a warning and nothing to worry about. But will be removed in the latest release (0.7). Closing this as the new release will be out soon.

[2022-05-13 02:53] #62 closed

[2022-05-17 13:37] jaskiratAtNexG commented on #59
same issue any update??

[2022-05-31 06:06] maheshj01 opened #66 "Severe performance issue on MacOS chrome"
This is very likely a bug in chrome, I am not sure where to report it so I am reporting it here

_chrome version_

<img width="464" alt="image" src="https://user-images.githubusercontent.com/31410839/171104263-abcdc5f4-851f-477a-acef-33439cc175e4.png">

This issue is only on the macOS version of chrome and works fine on Windows and Linux.

<details>
<summary>code sample</summary>

[code]
</details

[2022-05-31 06:17] maheshmnj commented on #66
Heres a deployed app to verify  https://chromebug.netlify.app/

[2022-07-12 15:23] flutterPratik opened #67 "How to add custom confetti image"
i don't want the same stars and particles, i want to add custom png images confetti.

like i want to add coin png to fall from the top of the screen.

Please help me if anyone knows how to add custom image in confetti effect

[2022-07-21 12:02] funwithflutter commented on #66
Hi @maheshmnj any update on this issue?

[2022-07-27 07:11] edwardcahyadi opened #68 "Is there a way to control the speed and amount of confetti based on seconds instead of framerate?"
I recently changed my phone display settings from 60hz to 120hz. I noticed that this caused more confetti to be produced and caused them to fall faster.

This is an issue because different users with different devices will have a different user experience.

Is there an easy way to base the speeds on actual time (seconds) instead on the device's framerate?

[2022-07-27 13:21] maheshmnj commented on #66
@funwithflutter This is a bug in the Chrome browser currently being tracked here https://bugs.chromium.org/p/chromium/issues/detail?id=1330463. Let's hope the chrome team fixes it soon.

[2022-08-04 15:48] acoutts commented on #68
I'm having the same issue - iphone 13 with promotion display.

[2022-08-05 05:31] amit-flutter commented on #67
Yes @flutterPratik, the same feature  I want to add custom leave image 🍁 from top to bottom.
@shinriyo  @agent3bood  @bensonwong  @thisdarktao Could you please consider this case? I need to submit my project in a few days but I didn't find any best alternative to this.

[2022-08-07 16:28] thisdarktao commented on #67
@amit-flutter I haven't been able to take an in-depth look, but for your use case would it be acceptable to use `createParticlePath` with a custom leaf path and provide a few autumnal colours to `colors` on the `ConfettiWidget`?

I know that isn't exactly what you want, but I'm sure @HayesGordon would appreciate a PR. While it would be possible to implement, there's going to be a tradeoff between

[2022-08-15 10:06] cyb3rsalih opened #69 "[feature request] Audio"
Hi, I am using the plugin in my app for finish level animations. It works well 👍 I notice that just showing confetti is not exciting enough. You may add a parameter for play music from asset. Music starts to play syncronously with confetti.

Thanks.

[2022-08-20 22:23] MrHazee opened #70 "Example project is crashing"
Hi,

My project started to crash when blasting confetti so I made a new clean project and ran the example and it also crashes 500ms into the blast. Ive tried on an iPhone 11 and ipad 12.9-inch simulator.
This is from "flutter run -v":
[   +1 ms] DevFS: Deleting filesystem on the device
(file:///Users/------------/Library/Developer/CoreSimulator/Devices/D61AB314-2F91-4E3C-B917-0663779B904F/data/Con

[2022-09-02 15:13] Eerey opened #71 "Alignment does not work"
I tried to wrap it around `Align`-Widgets - the children, the parent, everything.
It never works consistently.
Is there some tricky behaviour underlying?

[2022-09-02 15:18] Eerey commented on #68
As documented, it is strongly tied to drawing a frame. Yes, you'd need to multiply it with the fps rate.
![image](https://user-images.githubusercontent.com/7249645/188180874-389b616b-da5d-46fc-88cd-afb8aa54e0e4.png)

[2022-09-02 15:21] Eerey commented on #59
I'm facing similar issues. It looks like theres some problem when the size of the confetti area is calculated.

[2022-09-02 15:27] jaskiratAtNexG commented on #59
@Eerey  canvas: const Size(double.infinity, double.infinity),
use canvas like this and this issue will resolve.

[2022-09-04 06:28] HayesGordon commented on #69
Hi, that's a good suggestion. But it's probably something that should be kept separate from this package. This will require adding additional assets and packages to the package. Someone can easily implement this themselves, in combination with this package. Closing this for now.

[2022-09-04 06:28] #69 closed

[2022-09-04 06:29] HayesGordon commented on #70
Hey! Maybe it's Impeller, the new rendering engine (if you enabled it)? Is this happening on stable as well?

[2022-09-04 06:35] HayesGordon commented on #71
Hi! Can you share some example code, or explain better what you're trying to do? The [main example](https://pub.dev/packages/confetti/example) demonstrates different alignments

[2022-09-04 06:38] HayesGordon commented on #67
Hi! Sorry for the late reply. Owing to how popular a feature request this is, it's something that I will revisit.

[2022-09-04 06:54] HayesGordon commented on #68
Hi, @edwardcahyadi, thanks for opening this issue, I'll look into this soon. It will likely be breaking changes and a rewrite of the underlying logic - I'll keep you updated here. It'll be something similar to this: https://en.wikipedia.org/wiki/Delta_timing

[2022-09-04 06:55] #63 closed

[2022-09-04 13:59] Eerey commented on #71
I run the main example with flutter 3.0.5 -> the issue is exactly t he same. Debug -> not working. Release -> working.

[2022-09-07 18:20] cristian1980 commented on #70
I switched to the stable flutter channel and it does not crash.

[2022-09-13 13:15] MrHazee commented on #70
Yes I can confirm. Stable is ok. Im sure it has to do with the Impeller

[2022-09-30 10:35] cekrozl1 commented on #50
Would you have any recommendations on how to optimise confetti animations?
Something to add to the pages with confettis, or maybe something to avoid / remove?

https://user-images.githubusercontent.com/86661185/193251827-db79de15-b0a0-4527-9a32-191397280336.mov

[2022-10-02 06:10] mirkancal commented on #71
[code]

I'm also having the same issue, I've simply copied from the example but not sure what's missing.

<img width="392" alt="image" src="https://user-images.githubusercontent.com/26160059/193440592-ac359149-e9bb-43ca-8be2-929033daff4d.png">

[2022-10-04 13:09] cekrozl1 commented on #50
Hi !

A quick update on the performance issue. It has been identified and likely related to the [page transition](https://github.com/kalismeras61/flutter_page_transition/issues/76) widget.

**The confettis have no performance issues after the page_transition is removed.**

[2022-10-17 13:52] shashikiran918 opened #72 "Without button click"
how can i start confetti without button pressed i mean when i navigationg to next page it will start confetti animation without pressing button.

[2022-10-19 09:52] StefBiao commented on #72
easy, delay 0.5s, controller.play()

[2022-11-09 14:23] #72 closed

[2022-11-19 15:38] olof-dev commented on #70
I'm finding this as well, with both the 3.4 and 3.6 beta releases of Flutter. Has anyone discovered why it's crashing on these? For example, if it's because of Impeller, then what is it that Impeller doesn't like?

Assuming it's a bug with Flutter/Impeller rather than Confetti, has anyone reported this on the Flutter repository?

[2022-11-23 04:33] Gilianp opened #73 "Stop animation and hide confetti without to be off screen?"
When I perform a single shot, I have to wait for all the particles to leave the screen for the animation to end. I wish I could hide the particles before they leave the screen.
How to stop the animation and hide the particles without having to wait for all of them to be off screen?

[2022-11-26 17:32] HayesGordon commented on #68
Sorry that this took so long, but I have implemented a fix, and will release a new release after some additional changes. Please feel free to test out the `develop` branch in the meantime.

[2022-11-29 16:26] billy291 commented on #71
you can try

`Stack(
          alignment: Alignment.topCenter,
          children: [
            ConfettiWidget(
              confettiController: _confettiController,
              shouldLoop: true,
              blastDirectionality: BlastDirectionality.explosive,
              colors: [Colors.orange, Colors.blue, Colors.green],
              gravity: 0.1,
              numberOfParticles: 10,